---
layout: article
title: About
---
<% content_for :header do %>
  <h1 class="hero-title">About me</h1>
<% end %>

<div class="layout-single-column">
  <p>
    Hi there, thanks for visiting my site. My name is Hu Chen and I was born in China, currently living in Singapore.
  </p>
  <p>
    My interest is to build <%= link_to "digital products", "/work.html" %> that people love and care about. I am a product guy who does both design and code, I believe best products comes from people with experiences of both front and back.
  </p>
  <p>
    I love to make simple and aesthetic user experience, ideally my mom should be able to use the app without any instructions. I was awarded by <a href="http://www.cssdesignawards.com/sites/new-zealand-in-23-days/24343/">CSS Design Awards</a> and <a href="http://www.awwwards.com/best-websites/new-zealand-in-23-days">Awwwards</a> in the past, looking forward to have more. I love web design, frontend development and always on track of latest trends, get inspirations from other people’s awesome work.
  </p>
  <p>
    I also love to talk with passionate people with all sorts of crazy ideas, if you are, please <%= link_to "chat with me", "/contact.html" %>. I am also a world explorer, hiker and I enjoy the moments with my loved ones.
  </p>
  <hr>
  <h3>Colophon</h3>
  <p>
    This site is designed and coded by myself, powered by <a href="http://middlemanapp.com/">Middleman</a>, coded using <a href="http://www.sublimetext.com/">sublime text editor</a>, and hosted on <a href="https://github.com/huchenme/huchenme.github.io">Github</a>.
  </p>
  <p>
    The site is using fonts <a href="https://typekit.com/fonts/freight-sans-pro">Freight Sans</a> and <a href="https://typekit.com/fonts/freight-text-pro">Freight Text</a>, hosted on <a href="https://typekit.com">Typekit</a>.
  </p>
</div>


