---
layout: article
title: Contact
---
<% content_for :header do %>
  <h1 class="hero-title">Contact</h1>
<% end %>

<div class="layout-single-column">
  <p>
    I enjoy confabulating with people from all over the world, please call me out for a coffee if you are in Singapore. Other than that, you can connect with me in all sorts of medias.
  </p>
  <hr>
  <ul class="social">
    <li><a href="mailto:chen@huchen.me" class="email">Email</a></li>
    <li><a href="http://sg.linkedin.com/in/huchenme/" class="linkedin">LinkedIn</a></li>
    <li><a href="https://twitter.com/huchenme" class="twitter">Twitter</a></li>
    <li><a href="http://www.weibo.com/feeding" class="weibo">Weibo</a></li>
    <li><a href="http://github.com/huchenme" class="github">Github</a></li>
  </ul>
</div>


